.pokemon {
    background-color: #222;
    border-radius: 4px;
    margin: 20px;
    width: 250px;
}

.pokemon-header {
    color: #fff;
    font-size: 1.1rem;
    margin-top: 12px;
    text-transform: capitalize;
}

.pokemon-price {
    color: #fff;
    margin-bottom: 12px;
}

.pokemon-buy-button {
    background-color: white;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    height: 28px;
    margin-bottom: 20px;
    width: 100px;
}