.pokemon {
    background-color: #222;
    border-radius: 4px;
    margin: 20px;
    width: 200px;
}

.pokemon-header {
    color: #fff;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.pokemon-price {
    color: #fff;
    margin-bottom: 12px;
}

.pokemon-buy-button {
    padding: 4px 25px;
}